{% load static %}

<!-- Footer -->
<footer class=" bg3 p-t-75 p-b-32">
    <div class="container">
        <div class="p-t-40">
            <p class="text-center mb-3">
                <img src="{% static 'images/icons/payments.png' %}" height="26">
            </p>

            <p class="stext-107 cl6 txt-center">
                Copyright &copy;<script>
                    document.write(new Date().getFullYear());

                </script> All rights reserved
            </p>
        </div>
    </div>
</footer>
