{% extends 'base-account.html'%}
{% load static %}

{% block title%} Mon Profil {% endblock %}

{% block body %}


<div class="row">
    <div class="col-lg-2">
    </div>
    <div class=" card col-lg-8">
        <div class="card-header bg-dark text-center text-light">
            <div class="row">
                <div class="col-lg-1">
                </div>
                <div class="col-lg-3">
                    <img class="img-thumbnail rounded-circle" src="{{userprofile.profile_picture.url}}">
                </div>

                <div class="col-lg-7">
                    <span class="font-weight-bold text-light">{{userprofile.user.username}}</span>
                    <hr class="bg-light">
                    <span class="text-light">{{userprofile.user.email}}</span>
                </div>

                <div class="col-lg-1">
                </div>
            </div>
            <span> </span>
        </div>
        <div class="card-body text-center bd-light text-dark">
            <div class="row">
                <aside class="col-sm-6">
                    <p><span><strong>Prénom:</strong> {{userprofile.user.first_name}}</span></p>
                    <p><span><strong>Nom de famille:</strong> {{userprofile.user.last_name}}</span></p>
                    <p><span><strong>Sexe:</strong> {{userprofile.gender}}</span></p>
                    <p><span><strong>Numéro De Téléphone:</strong> {{userprofile.user.phone_number}}</span></p>
                </aside>
                <aside class="col-sm-6">
                    <p><span><strong>Adresse:</strong> {{userprofile.address_line_1}}<br>{{userprofile.address_line_2}}</span></p>
                    <p><span><strong>Pays:</strong> {{userprofile.country}}</span></p>
                    <p><span><strong>Ville:</strong> {{userprofile.city}}</span></p>
                    <p><span><strong>Quartier:</strong> {{userprofile.quartier}}</span></p>
                </aside>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
    </div>
</div>

{% endblock %}
